body{
    font-family:Arial;
    

}

.wrap{
    max-width:350px;
    border-radius:20px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 40px;
    margin-top: 60px;
    
     
}

h2{
    text-align: center;
    
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
    width: 100%;
    box-sizing:border-box;
    padding: 12px 5px;
    border: 1px solid black;
    margin: 5px;
    outline: none;
    font-weight: bold;
    border-radius: 5px;


}

input[type=submit]{
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    box-sizing:border-box;
    font-size: 20px;
    background: rgb(9, 14, 61);
    
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

input[type=submit]:hover{
    background:rgb(230, 153, 10);
    
}